<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find robair_gazebo)/worlds/robair.world"/>
        <arg name="gui" value="$(env GAZEBO_GUI)"/>
    </include>

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robair_description" command="$(find xacro)/xacro --inorder '$(find robair_gazebo)/urdf/robair.xacro'"/>

    <!-- Run a python script to send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model robair -param robair_description"/>

    <!-- Show in Rviz   -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robair_gazebo)/launch/robair.rviz"/>
</launch>
